:root {
  --night: #03120e;
  --black: #1a1d1a;
  --gray: #26413c;
  --charcoal: #3e505b;
  --blue: #8ab0ab;
  --fluorecent-blue: #81F7E5;
  --purple: #4C2C69;
  --dark-purple: #42253B;
  --purple2: #A167A5;
  --white: #F7F7FF;
}
